################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/FinalProjectGroup2/bin/Debug/net8.0
/FinalProjectGroup2/obj
